$(function(){
	//alert('this file is working')

	// adds a loading icon until ajax call completes
	// $('#date_filter_form').on('ajax:beforeSend', function(event, xhr, settings) {
	//   $("#home_feed").html("<i id='loading_icon' class='fa fa-cog fa-spin fa-4x fa-fw margin-bottom'></i><span class='sr-only'>Loading...</span>");
	// });

});