@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */
$site-background-color: #f1f5f8;
$gray-medium-light: #eaeaea;
$gray-medium-dark: #888888;
$purp: #5A01A5;
$border-color: #dedede;
$main-color: #017f7f;
$secondary-color: #00FF90;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
  padding-top: 60px;
  background-color: $site-background-color;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  font-family: Palatino,Palatino Linotype,Palatino LT STD,Georgia,serif;
}

h2 {
  font-size: 2.2em;
  letter-spacing: -1px;
  margin-bottom: 20px;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

a{
  color: $main-color;
}

ol, ol li { margin-left: 0; padding-left: 0; }


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #333;
  letter-spacing: -1px;
  padding-top: 14px;
  &:hover {
    color: black;
    text-decoration: none;
  }
}

#logoimage {
  float: left;
  margin-right: 10px;
  padding-top: 9px;
}

#search_form{
  padding: 10px;
  width: 250px;
  #search{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: $site-background-color;
  }
  #search:focus{
    background-color: white;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  background-color: white;
  border: 1px solid $border-color;
  border-radius: 3px;
  padding: 10px;
  margin-top: 10px;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
  & > li:last-child{
    border: 0;
  }
}

/* Categories index */

.categories {
  list-style: none;
  margin: 0;
  background-color: white;
  border: 1px solid $border-color;
  border-radius: 3px;
  padding: 10px;
  margin-top: 10px;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
  & > li:last-child{
    border: 0;
  }
  .category_name{
    font-size: 1.2em;
  }
  .category_description{
    color: $gray-medium-dark;
  }
}
#category_default_checkbox{
  vertical-align:middle;
  width:20%;
}
#order_dropdown{
  padding-left: 0;
}
#order_label label{
  padding-top: 5px;
}

/* posts */

.posts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px;
  }
  .post-container{
    width: 100%;
    background-color: white;
    border: 1px solid $border-color;
    border-radius:3px;
    padding: 5px;
    .delete-button{
      position: absolute;
      top: 15px;
      right: 15px;
      z-index: 1;
    }
  }
  .post-image-container{
    width: 100%;
    display: inline-block;
    position: relative;
    /*background-color: #222;*/
    border-radius: 3px;
    overflow: hidden;
  }
  .post-details-container{
    border-top: 1px solid $border-color;
    padding-top: 5px;
    .category{
    }
    .comment_count{
    }

  }
  .image_link {
    margin-top: 100%;
    img {
      /*max-height: 100%;*/
      height: auto;
      max-width: 100%;
      margin: auto;
      position:absolute;
      top:0;
      bottom:0;
      left: 0;
      right: 0;
      border-radius: 3px;
    }
  }
  .voting{
    display: block; 
    padding-top: 5px; 
  }
  .buy_link {
    display: block;
  }
  .post_footer{
    display: block;
    white-space: nowrap;
    font-size: .8em;
    overflow: hidden;
    text-overflow: ellipsis;
    .timestamp {
      color: $gray-light;
    }
    .user {
      
    }
  }
}

.post_show_page_container{
  background-color: white;
  border: 1px solid $border-color;
  border-radius: 3px;
  padding: 10px;
  .image_link_show_page{
      margin: auto;
      position:relative;
      width: 500px;
      height: 500px;
      /*background-color: #222;*/
      border-radius: 3px;
      img {
        max-height: 100%;
        max-width: 100%;
        width: auto;
        height: auto;
        position:absolute;
        top:0;
        bottom:0;
        left: 0;
        right: 0;
        margin:auto;
        border-radius: 3px;
      }  
  }
}

#home_feed > i#loading_icon{
  color: $main-color;
  margin: auto;
  display: block;
}

.under-nav-margin{
  margin-top: 20px;
}

#date_filter_form_wrapper{
  padding-left: 0;  
}
#date_filter{
  margin-top: 20px;
}
#filter_label{
  margin-top: 25px;
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

/* comments */

#comments{
  margin-top: 40px; 
}
.comments {
  list-style: none;
  .voting{
    display: inline-block;
  }
  .comment_wrapper{
    display: inline-block;
    background-color: white;
    border: 1px solid $border-color;
    border-radius: 3px;
    padding: 10px;
    position: relative;
    .op_user{
      color: #e68d0f;
    }
    .comment{
    }
    .delete-button{
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: 1;
    }
  }
  li{
    padding: 2px;

  }
}

/* Following */

.follow_form{
  padding-right: 10px;

}

/* donate */

#donate_button{
  width: 200px;
  form input{
    border-width: 0;
  }
}

/* custom buttons */

.btn-cool{
  @include button-variant(white, $main-color, $main-color)
}

.btn-warm{
  @include button-variant(white, #00cc74, #00cc74)
}

.btn-ominous{
  @include button-variant(white, #d64843, #d64843)
}

.btn-upvote{
  @include button-variant(#333, transparent , transparent );
  &.active, &:focus, &:active, &:hover{
    background-color: transparent ;
    color: #00cc74;
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid transparent ;
  }
}

.btn-downvote{
  @include button-variant(#333, transparent , transparent );
  &.active, &:focus, &:active, &:hover{
    background-color: transparent ;
    color: #d64843;
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid transparent ;
  }
}





