<li>
  <span class="category_name"><%= category.name %></span><p><%= link_to url_for(category), category %></p><p class="category_description"><%= category.description %></p>
  <% if logged_in? && current_user.admin? %>
    <%= link_to "delete", category, method: :delete, data: { confirm: "Are you sure?" },class: "btn btn-xs btn-danger pull-right" %>
  <% end %>
</li>